@import url("https://fonts.googleapis.com/css2?family=Chenla&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Koulen&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Odor+Mean+Chey&family=Outfit:wght@100..900&family=Preahvihear&family=Taprom&display=swap");
body {
  font-family: "Kantumruy Pro", sans-serif;
  background: #e5e5e5;
  margin: 0;
}

.app {
  max-width: 420px;
  margin: auto;
  padding: 15px;
}
.link a:hover {
  transform: translateY(-3px) scale(1.02);
}
.link {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(110deg, rgb(0, 153, 255), rgb(0, 123, 176));
}
.ri-telegram-fill {
  color: #0ba9e2;
}
.link a {
  font-size: 2rem;
  color: #0b77e2;
  text-decoration: none;
  transition: all 0.3s ease;
}
h2 {
  text-align: center;
}
#search:focus {
  outline: 2.5px solid rgba(0, 119, 255, 0.29);
}
#search {
  font-family: "Kantumruy Pro", sans-serif;
  width: 94%;
  height: 25px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.products {
  margin-top: 15px;
}
@keyframes maon {
  15%,
  25% {
    box-shadow: 0px 5px 10px rgba(3, 130, 180, 0.284),
      0px 5px 30px rgba(0, 183, 255, 0.613);
    transform: scale(1.04) rotate(-2deg);
  }
}
#loadMoreBtn {
  animation: maon 3s linear infinite;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  font-weight: 550;
  font-family: "Kantumruy Pro", sans-serif;
  cursor: pointer;
  background-color: rgb(0, 183, 255);
  display: block;
  margin: auto;
  margin-bottom: 40px;
  color: #ffff;
  letter-spacing: 1.5px;
  border: none;
  padding: 9px 13px;
  border-radius: 40px;
}
.product-name {
  color: rgb(12, 114, 155);
}
.price {
  color: red;
  font-weight: 600;
  font-size: 1.1rem;
}
.card {
  background: white;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  flex: 1;
}
